body {
    font-family: 'Georgia', serif;
    min-height: 860px;
    background: linear-gradient(0.5turn, #194457, #76806f, #91581b);
    background-repeat: no-repeat;
    padding-bottom: 20vh;
}

.container {
    text-align: center;
    padding: 20px;
}

.page-title {
    color: #ffffff;
    margin: 5px 0;
}

button {
    background: #76806f;
    padding: 0.8rem 1.5rem;
    margin: 1rem 0;
    border: none;
    border-radius: 15px;
    font-size: 1rem;
    transition: 0.3s;
}

button:hover {
    transform: scale(0.95);
    background: #76806fe0;
}

button:active {
    transform: scale(0.9);
    background: #76806f6e;
}

h2 {
    color: #ffffff;
}

#carta-jogador, #carta-maquina {
    width: 365px;
    height: 500px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin: 0 auto;
    overflow: auto;
    display: flex;
    align-items: flex-end;
    position: relative;
    background-size: 350px 300px;
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 10px;
    border-radius: 30px;
}

#carta-jogador h3 {
    text-align: center;
}

#carta-jogador img {
    width: inherit;
    height: inherit;
    position: absolute;
}

#carta-maquina img {
    width: inherit;
    height: inherit;
    position: absolute; 
}

#carta-maquina p {
    margin: 20px 20px;
}

.carta-subtitle {
    z-index: 2;
    position: absolute;
    top: 17px;
    left: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.carta-status {
    z-index: 2;
    color: #ffffff;
    height: 160px;
    margin: 2rem;
}

.carta-status input {
    margin: 15px 10px;
}

.carta-status p {
    margin-bottom: 2rem;
}

form  {
    display: flex;
    flex-direction: column;
}

.wrapper {
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.resultado-final {
    color: #ffffff;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem;
    background-color: black;
}
