body {
    font-family: 'Roboto Mono',monospace;
    min-height: 400px;
    background-color: #003042;
    background-size: 80vh;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }
  
  h1 {
    color: #ffffff;
    font-size: 40px;
    margin: 0 0 5px;
    padding-bottom: 5px;
  }
  
  .page-title {
    color:#ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color:#ffffff;
    margin-top: 5px;
  }
  
  .resultado-aluno {
    color:#ffffff;
    margin-top: 35px;
  }
  
  .resultado-media {
    color:#ffffff;
    margin-top: 5px;
    margin-bottom: 25px;
  }
  
  .nota1, .nota2, .nota3, .nota4 {
    color:#ffffff;
    margin-top: 5px;
  }
  
  .bt {
    margin-top: 15px;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    transition-duration: 0.3s;
  }
  
  .bt:hover {
    background-color: #A6FFB5;
  }
  
  .bt:active {
    transform: scale(0.90);
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }