* {
    text-align: center;
  }
  
  body {
    font-family: "Roboto Mono", monospace;
    min-height: 400px;
    background-image: url("https://www.alura.com.br/assets/img/imersoes/dev-2021/tabela-classificacao-bg.png");
    background-color: #111;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .page-title {
    background-color: rgba(13, 2, 160, 0.3);
    border-radius: 15px;
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .container {
    text-align: center;
    margin: 10px 20px;
    padding: 20px;
    height: 100vh;
  }

  button {
    color: #ffffff;
    background: rgb(0, 96, 151);
    margin: 15px 0;
    padding: 5px 15px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
  }

  button:hover {
    background: rgba(13, 2, 160, 0.3);
  }

  button:active {
    opacity: 0.5;
    transform: scale(0.95);
  }

  table {
    width: 100%;
    border: 2px solid white;
    border-collapse: collapse;
  }
  
  th,
  tr,
  td {
    border: solid 1px white;
    color: white;
  }
